* {
font-family: roboto;
}

.featured {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10em;
    z-index: 1;
}

.navbar-container {
display: flex;
flex-direction: row;
background-color: solid black;
}

.navbar-brand {
    justify-self: start;
}

.navbar {
    background-color: solid black;
    text-decoration-color: black;
}

.bg-image {
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.datebox {
    border: 1px solid black;
    justify-content: center;
    margin: 5px;
    /* width: 1200px; */
}

.date {
padding-left: 150px;
height: 100%;
background-color: lightgray;
justify-content: center;
align-items: center;
}

.wrap-container-flex {
    display: flex;
    flex-direction: row;
}

.container-row {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 1px;
}

.container-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hr-box {
    justify-content: center;
    width: 100vw;
}

.button1 {
color: rgb(236, 234, 224);
background-color: rgb(247, 184, 11);
width: 125px;
height: 40px;
border: 1px solid black;
border-radius: 1px;
border-color: solid black;

}
footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
justify-content: center;
align-items: center;
padding-bottom: 30px;
width: 25%;
}


.foot-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 3px;
}